div{
    margin:auto;
}
.heading{
    padding:20px;
    text-align: center;
}

.para{
    width:30%;
}
p{
    
    color: rgba(0,0,0,0.6);
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: 3px solid rgba(0, 0, 0,0.7);
}